#nav {
    list-style: none;
    width: 1000px;
    display: inline;
}

#nav li {
    list-style: none;
    display: inline;
}

#nav li ul {
    list-style: none;
    position: relative;
    display: block;
    float: left;
}